.card {
    height: 325px !important;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(218, 212, 212);
    margin-top: 5px;
}
.card:hover{
    cursor: pointer;
}

.chat-btn {
    right: 5%;
    bottom: 11%;
    position: absolute;
}

.small-icon {
    width: 20px;
    height: 15px;
}

.phone-btn {
    right: 13%;
    bottom: 11%;
    position: absolute;
}


.nowrap {
    white-space: nowrap;
}

.img {
    width: 75px;
    height: 75px;
}

.center-left {
    height: 100%;
    width: 600px;
    min-width: 700px;
}

.center-right {
    height: 100%;
    width: 100%;
}

.card-list {
    width: 90%;
}

.list-item {
    height: 250px;
    border-radius: 10px !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: rgb(0, 0, 0) !important;
    box-shadow: 1px 1px 2px grey;
}

.row::before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border: 1px dashed #22c0e8;
    left: 51.35%;
    bottom: 50%;
    width: 0px;
    height: 20%;
    z-index: 400;
}

.col::before{
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #22c0e8;
    left: 50%;
    width: 20px;
    height: 20px;
    z-index: 400;
}


.col:nth-child(2)::before{
    background-color: #22c0e8;
    color: beige;
}

.col:nth-child(4)::before{
    display: none;
}
.col:nth-child(1)::before{
    display: none;
}