.left-grid {
    width: 75px;
    height: 100vh;
    background-color: teal;
}

.right-grid {
    width: calc(100vw - 75px);
    background-color: #F4F4F8;
    height: 100vh;
}

.list {
    margin-top: 50px;
    border-radius: 0px;
}

.accordion-header {
    border-radius: 0px !important;
}

.accordion-item {
    border-radius: 0px !important;
}


.small-icon {
    width: 20px;
    height: 15px;
}

.center-left {
    height: 100%;
    width: 700px;
    min-width: 700px;
    background-color: transparent;
}

.right-grid{
    display: flex;
    flex-direction: row;
}

.center-right {
    height: 100%;
    width: 100%;
}

.card-list {
    width: 90%;
}

.list-item {
    height: 250px;
    border-radius: 10px !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: rgb(0, 0, 0) !important;
    box-shadow: 1px 1px 2px grey;
}

.row::before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border: 1px dashed #22c0e8;
    left: 51.35%;
    bottom: 50%;
    width: 0px;
    height: 20%;
    z-index: 400;
}

.col::before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #22c0e8;
    left: 50%;
    width: 20px;
    height: 20px;
    z-index: 400;
}


.col:nth-child(2)::before {
    background-color: #22c0e8;
    color: beige;
}

.col:nth-child(4)::before {
    display: none;
}

.col:nth-child(1)::before {
    display: none;
}

.search-bar {
    background-color: white;
    height: 50px;
    border-radius: 15px;
}

.search-bar {
    border-width: 1px;
    border-style: solid;
    border-color: linear-gradient(135deg, #fa709a 10%, #fee140 100%);
    ;
}

.search-btn {
    height: 45px;
    width: 45px;
    border-radius: 20px !important;
}

.search-input {
    border: none;
    background-color: white !important;
    border-radius: 15px;
}

.search-input:focus {
    outline-style: none;
}

.status-badge {
    background-color: #22c0e8;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.orders-list {
    height: 85%;
    overflow-y: scroll;
}


.orders-list::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

.orders-list::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    /* color of the tracking area */
}

.orders-list::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #22c0e8;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 0px;
    /* creates padding around scroll thumb */
}



body {
    overflow: hidden;
}


.rs-sidenav-item.rs-sidenav-item-active {
    border-left: 4px solid #fff !important;
    background-color: #62e01600 !important;
}

    .center-right {
        height: 50%;
    }

.backgroundBlue {
    background-color:  #3498ff;
}
@media screen and (max-width: 420px) {
    .center-left {
       width: 100%!important;
       min-width: 100%!important;
       height: 350px!important;
    }

    .center-right {
        height: 50%;
    }

    .right-grid{
        display: flex;
        flex-direction:column-reverse;
        width: 100%;
    }

    .left-grid {
        width: 0px;
    }

    .search-bar {
        margin-top: 1rem!important;
    }
    
    .componentChild {
        translate: -200% -200%;
        display: none;
    }
 }